body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    background-color: azure;
}

.container {
    display: inline-block;
    position: absolute;
    max-width: 1110px;
    width: auto;
    margin-top: 10%;
    margin-left: 25%;
    height: 500px;
    
}

.img-first {
    position: relative;
    float: right;
    width: 400px;  
    height: 400px; 
    top: 50px;
    margin-right: 5%; 
    border-radius: 5px;

}


.text-left {
    position: relative;
    top: 130px;
    left: 90px;
    color: hsl(240, 38%, 20%);
    font-weight: 300;
}

.name {
    font-size: 16px;
    font-weight: 700;
    display: flex;
}

.subtext {
    color: hsl(240, 18%, 77%);
    font-size: 16px;
    font-weight: 500;
}

.slide {
    display: inline-flex;    
    float: right;
    left: 120px;
    bottom: -130px;
    position: relative;   
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.06), 0px 16px 24px rgba(0, 0, 0, 0.08);    
    background-color: red;    
    border-radius: 50%;
}

button{
    width: 3rem;
    height: 3.2rem;
}

#izquierda{
    background-color: white;
    border:none;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

#derecha{
    background-color: white;
    border: none;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

#quotes {
    position: absolute;
    margin-top: 115px;
    margin-left: 15%;
    width: 100px;
    top: 0;
}

#bg {
    width: 500px;
    float: right;
    position: relative;
    margin: 0 auto;
    top: -500px;
    z-index: -1;
}

#curve {
    position: relative;
    left: 0px;
    bottom: -150px;
}